.nav {
    height: 4.125rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }
  .header-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 4.125rem;
    margin: 0 auto;
    max-width: 75rem;
    z-index: 99;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header-logo-flex {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .header-logo {
    display: inherit;
    height: 2rem;
  }
  .container-width {
    width: 100%;
  }
  .header-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .header-menu-item {
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    height: 1.3125rem;
    line-height: 1.3125rem;
    padding: 0 1.5625rem;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }
  .header-menu-item:hover {
    color: #d62448;
  }
  .header-menu-item.active {
    color: #d62448;
  }
  .header-menu-item.active:after {
    background: #d62448;
    border-radius: .25rem;
    content: "";
    height: .1875rem;
    left: 50%;
    position: absolute;
    top: 1.4375rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1.25rem;
  }
  
  .search {
    position: relative;
    padding-right: 3.125rem;
  }
  
  .search-input {
    background: rgba(33, 33, 37, 0.8);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: .0625rem solid #252525;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    height: 2.5rem;
    width: 100%;
  }
  .search-input-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAjVJREFUOE+tlUFo01AYx//fSyBb8aDooeCEeRNU2EFBQQ8FBa8DD4JC56UvbaRQ0JMKBfWkUFZM0xSEFRUFBa+CwgQ9CAruIgheBBUCInqQdClJnnwl1axkdXXLJfBe8sv/fd/3/4eQcTmOs1sIsQDgFIBZADMAvgD4BOBpHMdL5XL5a9a7lF6s1+tT+Xz+GhFdADCV9UKytqqUuu153tV6vb6afu4P0LbtvKZpT4joiFIqBHAvjuP7QRC8rdVqPxuNxnbDMA4JIc4COEdEulLqdRRF85ZleUPoAJgoW2YYgA8A5qWUfM+8HMc5IIR4BGAfQz3PKwyVDoDtdvsmEV1kWBiGhy3L+jXmuIMt27a36br+JoHeMk3zEq9Ts9mcMQzjo1JKJ6KD45SNfoSVEtE7IgrDMNzLRyfXdS8DuK6UWjJN8/y/lI3uu657l2sK4IqU8gYDXwI4FkXRyUql8nxSYKvVOqFp2jMAr6SUxxn4mefM9/0d3M1Jgdz9XC73g+dUSrmHgYohUso1MzkJOM3YtELXdXcB+JZWuOU13Noup+dQCDFXKpXeb7R+nU5nfxzHK2vmcNQpvu8f3Ui3k9pxudh+f52S5WUiOj1OKStTSj1mGIAoCILZarXK8YZ104aIHrJ7pqenV4rF4vdut7uz1+vNEdGCUuoMpw3DAGhJBhQG1ttMHvb7/UXDMNglrJSDpZA5zEmjiusldhiGd4YZyDmq6/pyUssX/+2O9MmScH7Av4ffia04wZpOENMAAAAASUVORK5CYII=);
    background-size: 100% 100%;
    height: 1.25rem;
    margin: 0 .5rem 0 .625rem;
    width: 1.25rem;
  }
  
  .search-input input {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: hsla(0, 0%, 100%, 0.87);
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    outline: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .search-input input::-webkit-input-placeholder {
    color: #666;
  }
  
  .search-input input::-moz-placeholder {
    color: #666;
  }
  
  .search-input input:-ms-input-placeholder {
    color: #666;
  }
  
  .search-input input::-ms-input-placeholder {
    color: #666;
  }
  
  .search-input input::placeholder {
    color: #666;
  }
  @media (max-width: 62rem) {
    .header-container {
      padding: 0 1.25rem;
    }
  }
  @media (max-width: 48rem) {
    .nav {
      height: 63.5px;
    }
    .header-logo {
      height: 2rem;
    }
    .header-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      height: 4.125rem;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 99;
    }
    .header-container {
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }